In [ ]:
# Import Libraries
import pandas as pd

In [ ]:
bd = pd.read_csv('budget_data.csv')

In [12]:
bd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503